html {
  --color-grey: #828282;
  --color-light-blue: #2c9cdb;
}

.grey {
  color: var(--color-grey);
}

.light-blue {
  color: var(--color-light-blue);
}

.space {
  letter-spacing: 4px;
}

.big {
  font-size: 3rem;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.mg-l-5 {
  margin-left: 5px;
}

.un-style-link {
  color: inherit;
  text-decoration: inherit;
}
